:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #222 !important;
  color: white !important;
  font-family: sans-serif;
}

.boxed {
  max-width: 80%;
  margin: 0 auto;
}

.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 2rem) / 3);
  background-color: #95999b;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: large;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: top left;
  aspect-ratio: 1/1.5;
  overflow: hidden;
}